diffusers==0.36.0 # Flux 2 was introduced with this version
transformers
accelerate
safetensors
xformers
runpod
torch
torchvision
numpy
scipy
triton
huggingface-hub
hf_transfer
hf_xet
setuptools 
bitsandbytes